:root {
    --bookiBlue: grey;
    --bookiLightBlue: #DEEBFF;
    --bookiGrey: #F2F2F2;
}

h1,
h2,
h3 {
    font-family: 'Shrikhand', sans-serif;
}

.RateWrapper {
    padding-left: 100%;
}




body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    color: black;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 15px;

}
.fa-heart {
    position:absolute;
    top: 31%;
    left: 88%; 
}
.fa-heart:hover  {
    background-color:transparent;
    color: #9356DC;
    animation: slideUp 1s ease-in-out 1 forwards;
}



@keyframes slideUp {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(0);
    }
}




.check-icon-wrapper {
    height:50px;
    width: 50px;
}

.item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
}

.check-icon {
    background-color: #F2F2F2;
    border-radius: 1em;
    display: flex;
    transform: rotate(180deg);
    position: relative;
    transition: all 450ms;

}

.menu-item:hover .check-icon-wrapper {
    justify-content: flex-start;
    align-items: center;
    background-color: #99E2D0;
    color: white;
    animation: slideLeft 500ms ease-in-out 1 forwards;
}

.menu-item:hover .check-icon,
.menu-item:active .check-icon {
    animation: spin 1000ms ease-in-out 1 forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(180deg);

    }

    100% {
        transform: rotate(0);
    }
}








.wrapper {
    width: 80%;
    padding-top: 25px;
    margin-bottom: -14px;
}


.FiltersWrapper ul li {
    background-color: white;
    border-radius: 1em;
    width: 360px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-item p {
    margin: 0;
}






.FiltersSection {
    width: 100%;

}

label {
    font-weight: 900;
    padding-inline-start: 15px;
}

.menu-item {
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    display: flex;
}

.heading-label {
    width: 100%;
}

.check-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    color: white;
}
.footer-menu {
    list-style: none;
    ;
}

.footer-menu li {
    display: flex;
    column-gap: 10px;
}



.noListStyle {

    gap: 20px;

}

.wrapper,
.FiltersSection,
.FiltersWrapper,
.FiltersWrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



.FooterWrapper {
    gap: 40px;
    margin-top: 60px;
}



footer.FooterWrapper {
    background-color: #333333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-block-start: 20px;
    padding-inline-start: 15px;
}






@media only screen and (max-width:768px) {

    .FiltersWrapper {
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        max-width: 390px;

    }


    .noListStyle {
        padding-inline-start: 0px;
    }


    .FiltersWrappe ul li {
        width: 100%;
    }



    .FiltersSection {
        width: 100%;
        flex-direction: column;

    }
}

/* Tablet version */
@media only screen and (min-width: 820px) {
    img {
        width: 910px;
    }

    .btn1 {
        margin-left: 300px;
    }



}

/* Desktp version */
@media only screen and (min-width:962px) {

    img {
        width: 1500px;
    }

    .btn1 {
        margin-left: 650px;
    }

    .fa-heart {
        position:absolute;
        top: 29%;
        left: 53%; 
    }

}