.heading {
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}

.heading-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}





.img-ohmyfood {
    width: 100%;
    height: 100%;
}

.NavListItem {
    display: flex;
    justify-content: center;


}

nav {
    background-color: #f2f2f2;
    height: 150px;
}

.SearchBtn .fa-search {
    display: none;
    width: 100%;
}


.SearchInput {
    min-height: 42px;
    min-width: 20em;
    width: 100%;

    border: 1px solid #F2F2F2;
    display: flex;

}



.SearchInput .fa-location-dot {
    display: flex;
    justify-content: center;
    color: black;

}

.SearchInput .SearchTxt {
    color: black;
    font-weight: bolder;

}

.SearchInput .SearchBtn {
    width: 100%;
    background-color: lightgrey;
    font-weight: bolder;

}

.SearchBtn i {
    background-color: transparent;
}


.SearchInput .SearchBtn:hover,
.SearchInput .SearchBtn:active {
    background-color: grey;

}


a {
    text-decoration: none;
}

.FiltersWrapper {
    align-items: center;
}

.noListStyle {
    list-style: none;
    list-style-type: none;
}

.noListStyle {
    gap: 20px;
    padding-inline-end: 70px;
    font-size: smaller;
    padding-top: 20px;
}

.FiltersWrapper ul li {
    background-color: #F2F2F2;
    border-radius: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    padding-right: 10px;
    min-width: 325px;
    max-width: 325px;
    box-shadow: 0 0 10px #00000080;
    position: relative;
    transition: all 450ms;
    min-height: 55px;
    padding-left: 25px;


}

.FiltersWrapper ul li:hover,
.FiltersWrapper ul li:active {
    background-color:lavender;
    transform: scale(1.13);
}

.FiltersWrapper ul li .numberIcon {
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    position: absolute;
    left: -20px;
    background: #9356DC;
    color: white;
}

.FiltersWrapper ul li i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: medium;


}
i:hover {
    color:#9356DC;


} 


.wrapper {
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    min-height: 60px;
    align-items: center;
}

.wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.btn1 {
    margin-left:0;
    margin-right: 0;

}




.FiltersSection {
    width: 100%;


}




label {
    font-weight: 900;
    padding-inline-start: 15px;

}
.text {
    color:teal;
    font-size:20px;
    background-color:#99E2D0;
    width: 25%;
    height: 5%;
    border-radius: 3px;
    font-style:bold;
    position: absolute;
    top: 113%;
    left: 65%;
}


.Rest_Section {
    width: 100%;


}

.Rest_Section {
    width: 100%;
    background-color: #F2F2F2;
    height: fit-content !important;
}

.FiltersSection nav {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 53px;
    text-align: center;
    height:250px ;

}


.Rest_Section .Card {
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #00000080;
    background-color: transparent;
    margin: 20px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;

}

.Rest_Section .Card p {
    width: 100%;
    height: 5px;
}

.Rest_Section .Card .ImageWrapper {
    height: 55%;
    margin-bottom: 10px;
    width: 100%;

}

.Rest_Section .Card h3 {
    width: 60%;
}

.Rest_Section .Card .RateWrapper {
    width: 10%;
}



.Rest_Section .Image {
    width: 100%;
    height: 110%;
    object-fit: cover;

}

.Rest_Section .Card h3,
.Rest_Section .Card p,
.Rest_Section .Card .RateWrapper {
    padding-left: 17px;
    padding-inline-end: 40px;
    padding-top: 0;

}


.wrapper,
.FiltersSection,
.FiltersWrapper,
.FiltersWrapper ul {
    display: flex;
}


.FooterWrapper {
    gap: 40px;
 
}



footer.FooterWrapper {
    background-color: #333333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-block-start: 20px;
    padding-inline-start: 15px;
    gap: 20px;
}





@media only screen and (max-width:768px) {

    .FiltersWrapper {
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        max-width: 375px;
        padding: 50px 0px;

    }


    .noListStyle {
        padding-inline-end: 0px;
    }

    .FiltersWrapper ul {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .FiltersWrappe ul li {
        width: 100%;
    }

    .Rest_Section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .Rest_Section .Image {
        width: 100%;
        height: 120%;
        object-fit: cover;
    }

    .FiltersSection {
        width: 100%;
        flex-direction: column;

    }
}

/* Tablet version */
@media only screen and (min-width: 820px) {}

/* Desktp version */
@media only screen and (min-width:962px) {}