:root {
    --primaryColor: #9356DC;
    --secondaryColor: #FF79DA;
    --tertiaryColor: #99E2D0;
    --linearGradient: linear-gradient(333deg, rgba(127, 26, 189, 1) 0%, rgba(251, 74, 194, 1) 100%);
    ;
    --linearGradientLighten: linear-gradient(327deg, rgb(170, 128, 220) 0%, rgb(248, 147, 219) 100%);
    ;
}

h1,
h2,
h3 {
    font-family: 'Shrikhand', sans-serif;

}

 a {
    color: black;
    text-decoration: none;
   }
 


.RateWrapper {
    padding-left: 90%;
    position: relative;
}



.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    animation: visuallyHide 4s ease-out 1 forwards;

}



.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes visuallyHide {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    90% {
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(0)
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);

    }

}



body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    color: black;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

.btn1 {
    left: 88px;
}

img {
    border-style: none;
    width: 370px;
    height: 138px;
    object-fit: cover;
}

.RateWrapper .fa-solid {
    color: black;
    opacity: 0;
}

.fa-heart {
    position: absolute;
    bottom: 20px;
    left: 88%;

}

.RateWrapper:hover .fa-solid {
    background: var(--linearGradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    animation: slideUp 1s ease-in-out 1 forwards;
}

.RateWrapper:hover .fa-regular {
    background: var(--linearGradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 1s ease-in-out color;
}



@keyframes slideUp {
    0% {
        transform: scale(0);
        opacity: 100%;

        transform-origin: bottom;
    }

    100% {
        transform: scale(1);
    }
}

.wrapper h2 {
    margin: 0;
}




.check-icon-wrapper {
    height: 50px;
    width: 50px;
}

.item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
}

.check-icon {
    background-color: #F2F2F2;
    border-radius: 1em;
    display: flex;
    transform: rotate(180deg);
    position: relative;
    transition: all 450ms;

}

.menu-item:hover .check-icon-wrapper {
    justify-content: flex-start;
    align-items: center;
    background-color: #99E2D0;
    color: white;
    animation: slideLeft 500ms ease-in-out 1 forwards;
}



.menu-item:hover .check-icon,
.menu-item:active .check-icon {
    animation: spin 1000ms ease-in-out 1 forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(180deg);

    }

    100% {
        transform: rotate(0);
    }
}


.wrapper {
    width: 80%;
    padding-top: 25px;
    margin-bottom: -14px;
}

.hero-image {
    position: absolute;
    z-index: -1;
    width: 100%;

}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Full-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin-top: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 8px;

}


.FiltersWrapper ul li {
    background-color: white;
    border-radius: 1em;
    width: 360px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.price-label,
.heading-label,
.menu-item p {
    width: 90%;
    max-height: 30%;
}

.price-label {
    text-align: end;
}

.check-icon-wrapper {
    height: 100%;
    align-self: flex-end;
}

.menu-item p {
    margin: 0;
    padding-inline-start: 15px;
}


.menu-item:hover .price-label,
.menu-item:hover .heading-label,
.menu-item:hover p {
    width: 70%;
    animation: shrinkWidth ease-in 1s forwards;
}

@keyframes shrinkWidth {
    from {
        width: 90%;
    }

    to {
        width: 70%;
    }
}





.FiltersSection {
    width: 100%;

}

label {
    font-weight: 900;
    padding-inline-start: 15px;
}

.menu-item {
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    display: flex;
}


.check-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    color: white;
}

.footer-menu {
    list-style: none;
    ;
}

.footer-menu li {
    display: flex;
    column-gap: 10px;
}



.noListStyle {

    gap: 20px;

}

.wrapper,
.FiltersSection,
.FiltersWrapper,
.FiltersWrapper ul {
    display: flex;
    flex-wrap: wrap;
}


.menu-item {
    opacity: 0;
    animation: appear 2s ease-out forwards 1;
}

.menu-item:nth-child(1) {}

.menu-item:nth-child(2) {
    animation-delay: 0.75s;
}

.menu-item:nth-child(3) {
    animation-delay: 1.25s;
}

.menu-item:nth-child(4) {
    animation-delay: 1.75s;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



.FooterWrapper {
    gap: 40px;
    margin-top: 60px;
}



footer.FooterWrapper {
    background-color: #333333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-block-start: 20px;
    padding-inline-start: 15px;
    gap: 20px;
}

@media only screen and (max-width:768px) {

}




/* Tablet version */
@media only screen and (min-width: 820px) {

    .Full-section {
        display: flex;
        flex-direction: row;
    }

    .Full-section {
        display: flex;
        flex-direction: column;
    }

    .FiltersWrapper ul {
        column-gap: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 20px;
    }

    .wrapper {
        justify-content: start;
        gap: 40%;
        padding: 10px 20px;
        width: 100%;
        background-color: white;
    }

    img {
        width: 1200px;

    }

    .btn1 {
        position: absolute;
        top: 765px;
        left: 315px;
    }
}

/* Desktop version */
@media only screen and (min-width:962px) {


    .FiltersWrapper {

        padding: 20px 70px;

    }


    .FiltersWrapper ul {
        column-gap: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .wrapper {
        justify-content: start;
        gap: 45%;
        padding: 10px 20px;
        width: 100%;
        background-color: white;
    }



    img {
        width: 1500px;

    }

    .btn1 {
        position: absolute;
        top: 605px;
        left: 675px;
    }




}