:root {
    --bookiBlue: grey;
    --bookiLightBlue: #DEEBFF;
    --bookiGrey: #F2F2F2;
}

h1,
h2,
h3 {
    font-family: 'Shrikhand', sans-serif;
}

.Full-section {
    width: 20px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    color: black;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 15px;

}

.fa-heart:hover {
    color:#9356DC;
} 



.check-icon {
    background-color: #F2F2F2;
    border-radius: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    position: relative;
    transition: all 450ms;

}

.check-icon:hover,
.check-icon:active {
    background-color:#99E2D0;
    color:white;
    transform: scale(1.13);
}





.wrapper {
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    min-height: 60px;
    align-items: center;
}


.FiltersWrapper ul li {
    background-color: white;
    border-radius: 1em;
    width: 360px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

}






.FiltersSection {
    width: 100%;

}

label {
    font-weight: 900;
    padding-inline-start: 15px;
}

.menu-item {
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    display: flex;
}

.heading-label {
    width: 100%;
}

.check-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    border-radius: 0;
    width: 60px;
    background-color:transparent;
    color: white;
}

.price-label {
    transform: translateX(-50px);
}

.noListStyle {
    padding-inline-start: 0px;
    gap: 20px;
    padding-top: 20px;
}

.wrapper,
.FiltersSection,
.FiltersWrapper,
.FiltersWrapper ul {
    display: flex;
    flex-wrap: wrap;
}


.FooterWrapper {
    gap: 40px;
    margin-top: 60px;
}



footer.FooterWrapper {
    background-color: #333333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-block-start: 20px;
    padding-inline-start: 15px;
}






@media only screen and (max-width:768px) {

    .FiltersWrapper {
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        max-width: 390px;
        padding: 50px 0px;
    }


    .noListStyle {
        padding-inline-start: 0px;
    }

    .FiltersWrapper ul {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
       
    }

    .FiltersWrappe ul li {
        width: 100%;
    }



    .FiltersSection {
        width: 100%;
        flex-direction: column;

    }
}

/* Tablet version */
@media only screen and (min-width: 820px) {}

/* Desktp version */
@media only screen and (min-width:962px) {}